.block {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
.i-shape {
    background: aqua;
}
.o-shape {
    background: yellow;
}
.l-shape {
    background: orange;
}
.j-shape {
    background: blue;
}
.t-shape {
    background: deeppink;
}
.s-shape {
    background: green;
}
.z-shape{
    background: red;
}
.shape{

}