.block {
    float: left;
    height: 23px;
    padding: 0;
    width: 23px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.i-shape {
    background: #4eb0d0;
}
.o-shape {
    background: #f8cf47;
}
.l-shape {
    background: #ef8232;
}
.j-shape {
    background: #4285F4;
}
.t-shape {
    background: #e23f92;
}
.s-shape {
    background: #4ca730;
}
.z-shape{
    background: #eb3d25;
}
.shape{

}