.game-board{
    width: 400px;
    height: 480px;
    background-color: #181818;
    position: absolute;
    display: block;
    margin: 10px auto;
    right: 0;
    left: 0;
}
.next-block-window, .hold-block-window, .current-level,
.lines, .score{
    background-color: #212121;
    color: #eeeeee;
    margin: auto;
    top: 50%;
    bottom: 50%;
}
.main-window{
    margin: 10px;
    padding: 5px;
    width: 250px;
    height: 450px;
    background-color: #212121;
    position: relative;
    float: left;
}
.right-window{
    margin: 0;
    padding: 0;
    width: 110px;
    height: 100%;
    position: relative;
    float: left;
}
.next-block-window{
    margin: 10px 0;
    padding: 5px;
    width: 100px;
    height: 100px;
}
.hold-block-window{
    margin: 10px 0;
    padding: 5px;
    width: 100px;
    height: 100px;
}
.current-level{
    margin: 10px 0;
    padding: 5px;
    width: 100px;
    height: 50px;
    line-height: 50px;
}
.lines{
    margin: 10px 0;
    padding: 5px;
    width: 100px;
    height: 50px;
    line-height: 50px;
}
.score{
    margin: 10px 0;
    padding: 5px;
    width: 100px;
    height: 70px;
    line-height:70px;
}